# Ignore Gradle project-specific cache directory
.gradle

# Ignore VSCode
.vscode

# Ignore Gradle build output directory
build
bin

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
